In [1]:
import pandas as pd
df = pd.read_table('C:/Users/sjmal/OneDrive/Desktop/ML/2021/mlchallenge_set_2021_edited.txt')
valid = pd.read_table('C:/Users/sjmal/OneDrive/Desktop/ML/2021/mlchallenge_set_validation.tsv',sep='\t')

In [2]:
#create dictionary of groups with list of IDs in that group
dict = {}
total=0
for index,row in valid.iterrows():
    if row['Group'] in dict:
        dict[row['Group']].append(row['ID'])
    else:
        dict[row['Group']] = [row['ID']]
#list of groups with multiple IDs
matches = []
for key,value in dict.items():
    if len(value) > 1:
        total+=len(value)
        matches.append(key)
print(len(matches))
print(total)

990
2480

In [3]:
print(df.head())
print(valid.head())

   Category                                          Main Link  \
0         2  https://i.ebayimg.com/00/s/MTYwMFgxMjAw/z/iYYA...
1         2  https://i.ebayimg.com/00/s/MTA1OFgxMTM0/z/KPIA...
2         2  https://i.ebayimg.com/00/s/MTIwMFgxNjAw/z/flIA...
3         2  http://i.ebayimg.com/00/s/ODAwWDEwNjc=/z/XHcAA...
4         2  https://i.ebayimg.com/00/s/MTA2N1gxNjAw/z/scsA...

                                           All Links  \
0  https://i.ebayimg.com/00/s/MTYwMFgxMjAw/z/iYYA...
1  https://i.ebayimg.com/00/s/MTA1OFgxMTM0/z/KPIA...
2  https://i.ebayimg.com/00/s/MTIwMFgxNjAw/z/flIA...
3  http://i.ebayimg.com/00/s/ODAwWDEwNjc=/z/XHcAA...
4  https://i.ebayimg.com/00/s/MTA2N1gxNjAw/z/scsA...

                                                Tags  ID
0  (Brand:Shimano,US Shoe Size (Men's):4.5,Modifi...   0
1  (Color:Gray/White,Country/Region of Manufactur...   1
2  (Style:Cleats,Color:White Orange,US Shoe Size ...   2
3  (Width:Medium (D, M),US Size:9,Brand:VANS,Colo...   3
4  (US Shoe Size (Men's):10.5,Material:Enter item...   4
    ID    Group
0  163  2000001
1  194  2000003
2  251  2000004
3  315  2000006
4  321  2000007

In [ ]:
#split links into list (for now only does first 100)
i = 0
for link in df['All Links'][0:100]:
    df['All Links'][i] = link.split(';')
    i+=1
print(df['All Links'][0:100])

In [ ]:
import re
def map_attributes(attribute):
    attribute = re.sub(r'[()]','', attribute)
    attribute = re.split(r',', attribute)
    attribute = [a.split(':') for a in attribute]
    for i, a in enumerate(attribute):
        attribute[i] = [s.strip() for s in a]
    mapping = {}
    #for i in range(len(attribute) - 1):
    #    if i == len(attribute) - 2:
    #        mapping[attribute[i][-1]] = attribute[i + 1][:]
    #    else:
    #        mapping[attribute[i][-1]] = attribute[i + 1][:-1]
    return(attribute)

all_maps = []
for index,row in df[0:100].iterrows():
    all_maps.append(map_attributes(row['Tags']))
#print(all_maps)

In [23]:
#dataframe with attribute values
df_temp = []
for attributes in all_maps:
    temp = []
    for value in attributes:
        if len(value) > 1:
            temp.append(value[1])
    df_temp.append(temp)
categories = pd.DataFrame(df_temp)
#print(categories)

                    0                                                  1  \
0             Shimano                                                4.5
1          Gray/White                                          Indonesia
2              Cleats                                       White Orange
3            Medium D                                                  9
4                10.5  Enter item specific valuePLEASE READ BEFORE BI...
..                ...                                                ...
95               Male                                        New Balance
96                9.5                                           Nike Air
97               Nike                                       LeBron James
98  Athletic Sneakers                                                6.5
99           Converse                                            Hi Tops

                   2                  3                 4              5  \
0                 No            Cycling              None           None
1                  8  Athletic Sneakers    Giorgio Armani  Leather Suede
2                 15               Nike              None           None
3               VANS              Green     Suede & Denim  Skateboarding
4               Nike   Basketball Shoes       Multi-Color           None
..               ...                ...               ...            ...
95                 D               Grey             China           46.5
96             Retro               Nike  Basketball Shoes          Black
97  Basketball Shoes                 11              None           None
98            Jordan               None              None           None
99                 7               None              None           None

                    6              7  \
0                None           None
1                None           None
2                None           None
3            Athletic  Skateboarding
4                None           None
..                ...            ...
95  Athletic Sneakers         NB 580
96               None           None
97               None           None
98               None           None
99               None           None

                                                    8     9
0                                                None  None
1                                                None  None
2                                                None  None
3                                                   9  None
4                                                None  None
..                                                ...   ...
95  Blown rubber outsole Innovative REVlite midsol...    12
96                                               None  None
97                                               None  None
98                                               None  None
99                                               None  None

[100 rows x 10 columns]

In [34]:
from sklearn.preprocessing import OneHotEncoder
x = OneHotEncoder().fit_transform(categories)
#print(x)
print(type(x))

  (0, 44)	1.0
  (0, 57)	1.0
  (0, 140)	1.0
  (0, 179)	1.0
  (0, 241)	1.0
  (0, 267)	1.0
  (0, 281)	1.0
  (0, 293)	1.0
  (0, 300)	1.0
  (0, 304)	1.0
  (1, 27)	1.0
  (1, 83)	1.0
  (1, 114)	1.0
  (1, 173)	1.0
  (1, 225)	1.0
  (1, 256)	1.0
  (1, 281)	1.0
  (1, 293)	1.0
  (1, 300)	1.0
  (1, 304)	1.0
  (2, 21)	1.0
  (2, 106)	1.0
  (2, 111)	1.0
  (2, 191)	1.0
  (2, 241)	1.0
  :	:
  (97, 267)	1.0
  (97, 281)	1.0
  (97, 293)	1.0
  (97, 300)	1.0
  (97, 304)	1.0
  (98, 15)	1.0
  (98, 58)	1.0
  (98, 132)	1.0
  (98, 205)	1.0
  (98, 241)	1.0
  (98, 267)	1.0
  (98, 281)	1.0
  (98, 293)	1.0
  (98, 300)	1.0
  (98, 304)	1.0
  (99, 22)	1.0
  (99, 82)	1.0
  (99, 113)	1.0
  (99, 205)	1.0
  (99, 241)	1.0
  (99, 267)	1.0
  (99, 281)	1.0
  (99, 293)	1.0
  (99, 300)	1.0
  (99, 304)	1.0
<class 'scipy.sparse.csr.csr_matrix'>

In [75]:
from sklearn.cluster import AgglomerativeClustering
clustering = AgglomerativeClustering(compute_distances=True,compute_full_tree = True,distance_threshold = .5,n_clusters=None).fit(x.todense())
print(clustering)

AgglomerativeClustering(compute_distances=True, compute_full_tree=True,
                        distance_threshold=1, n_clusters=None)

In [80]:
print(clustering.labels_)
print(clustering.distances_)
print(clustering.n_connected_components_)

[50 75 83 84 56 82 63 98 54 87 88 81 97 95 65 89 48 96 99 77 60 61 47 80
 41 85 94 86 93 79 42 78 92 23 20 49 67 39 91 69 57 38 70 68 64 33 62 53
 30 66 73 76 71 72 40 45 26 90 35 59 46 52 43 58 37 51 74 24 32 44 55 11
 19 34 36 31  9 18 21 16 28 15 17 22 27  7 25 12 29 10 13  5 14  8  6  2
  3  4  1  0]
[ 2.          2.          2.          2.          2.          2.
  2.          2.          2.          2.          2.          2.
  2.          2.30940108  2.30940108  2.30940108  2.44948974  2.44948974
  2.44948974  2.44948974  2.44948974  2.44948974  2.44948974  2.44948974
  2.44948974  2.44948974  2.44948974  2.44948974  2.44948974  2.44948974
  2.44948974  2.5819889   2.64575131  2.64575131  2.7080128   2.7080128
  2.7080128   2.7080128   2.76887462  2.76887462  2.76887462  2.82842712
  2.82842712  2.82842712  2.82842712  2.82842712  2.82842712  2.82842712
  2.91767382  2.94392029  2.94392029  3.          3.05455672  3.05505046
  3.09838668  3.16227766  3.16227766  3.16227766  3.16227766  3.31662479
  3.35161653  3.3946737   3.43511281  3.46410162  3.46410162  3.46410162
  3.46410162  3.46410162  3.46410162  3.46410162  3.48329346  3.55902608
  3.63318042  3.69555718  3.74165739  3.78942757  3.82970843  3.89444048
  3.95931692  4.          4.          4.02979102  4.04969135  4.163332
  4.16866619  4.23801655  4.24264069  4.34613494  4.41210456  4.49376673
  4.53557368  4.54606057  4.63526852  4.93613346  5.01169893  5.08405537
  6.16502709  6.55535867 10.29328736]
1

In [82]:
%matplotlib qt
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import dendrogram
import numpy as np

plot_dendrogram(clustering)
plt.show()